{% extends 'basic.html' %}

{% block name %} Delete {% endblock %}

{% block site %}
<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Delete "{{ building.symbol }}"? </h5>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-light" style="margin: 4px"> Delete </button>
                <a href="{% url 'all_objects' %}" class="btn btn-light" style="margin: 4px"> Back </a>
            </form>
        </div>
    </div>
</center>

{% endblock %}